body{ background: #eee; }
header{ display: block; position: relative; background: #0991a5; color: #fff; font-size: 0.2rem;}
header p{ text-align: center; height:0.6rem; line-height:0.6rem;  }
header a.glyphicon{ color: #fff; position: absolute; top:0.22rem; left: 0.11rem;  }
header a:link{ text-decoration: none;}
section{ padding-top: 13px; }
section form{ padding-right:0.05rem; padding-left:0.05rem;height: 4rem;}
section form input[type=password]{ height: 38px; line-height: 28px;}
label span.require{ color: red;}

section form input[type=submit]{ width: 97%; position: absolute; bottom: 0.7rem; border: 0.01rem solid #008a9f; box-sizing: border-box; border-radius: 0.04rem; height: 0.3rem; line-height: 0.3rem; background:#0991a5; color: #fff;  }
section form input[type=submit]:active{ font-weight: bold;}

@media (min-width:800px ) {
    .row{    display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
}



