*{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
body,html{width:100%;height:100%;}
#wrapper{background:#EEEEEE;}
p{margin:0;}
header{background: #0991a5; color: #fff; font-size: 0.36rem;display:flex;justify-content:space-between;align-items: center;padding: 0 20px;height:60px;}
header p{text-align: center;}
header a.glyphicon{color: #fff; }
header a:link{ text-decoration: none;}

#page-con{}
#page-con .tab-t{border:1px solid #E4E4E4;margin:0.3rem 0.25rem;border-radius:0.2rem;display: flex;flex-direction: row;justify-content: space-between;text-align: center;align-items: center;color:#666666;font-size:14px;overflow: hidden;}
 .tab-t .div{min-height:40px;display: flex;align-items: center;justify-content:center;background:#fff;padding:5px 3px;}
#page-con .tab-t .tab-t-2 span{border-right:1px solid #C9C9C9;}
.tab-t .active{background:#0991A5;color:#fff;}
.tab-t .active span{color:#fff;}
#page-con .tab-t .active span{border-right:none;}
.active.tab-t-1{border-right:1px solid #C1E3E8;}


#page-con .Amount{overflow:hidden;margin:0.45rem 0.25rem 0;box-shadow:0 0.05rem 0.2rem 0 #AFAFAF;padding:0 0.2rem 0.2rem;}
#page-con .Amount h4{font-size:14px;margin-top:0.22rem;margin-bottom:0.22rem;}
.input-group-addon{color:#000;}
.form-group p{margin-top:0.1rem;font-size:14px;color:#000;}
.input-group-addon{background-color:#D5D5D5;color:#000;}

.sect3{margin-bottom:0.3rem;text-align: center;margin-top:50px;}
.sect3>div{ margin-right: 0.15rem; height: 40px; line-height: 40px; color:#999;display: inline-block;}
.sect3 .btnn{ width: 80px; background: #0992a5; border: 0.01rem solid #dcdcdc; border-radius:0.1rem;  }
.sect3 .btnn2{ width: 40px; background:#e5e5e5; border: 0.01rem solid #b5b5b5;  }
.sect3 .btnn3{margin-right: 0;background:#0992a5;border-radius:0.1rem; width: 66px;border: 0.01rem solid #dcdcdc;  }

.sect3 .btnn a{color:#fff;}
.sect3 .btnn3 a{color:#fff;}

.form-group{margin-bottom:0.1rem;}

.error{color:#FF0000;}

@media (max-width:360px) {
 .tab-t .div{height:72px;}
}

@media (min-width:700px) {
 .tab-t .div{width:33.33333%}
 #page-con .tab-t{font-size:16px;}
 #page-con .Amount h4{font-size:16px;}
 .form-group{width:100%;}
 .input-group{width:100%;}
}

