*{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
body,html{width:100%;height:100%;background:#EEEEEE;}
p{margin:0;}
header{background: #0991a5; color: #fff; font-size: 0.36rem;display:flex;justify-content:space-between;align-items: center;padding: 0 20px;height:60px;}
header p{text-align: center;}
header a.glyphicon{color: #fff; }
header a:link{ text-decoration: none;}

#page-con .error{padding:0.05rem 0.05rem;overflow:hidden;margin:0.35rem 0.2rem;height:0.9rem;box-shadow:0 0 0.1rem 0.1rem #E7E7E7;background:#fff;}
#page-con .error .err-b{margin:0;width:100%;height:100%;background:#CBE2C1;font-size:0.3rem;text-align: center;line-height:0.8rem;border:1px solid #BCC4B9;}
#page-con .tab-t{border:1px solid #E4E4E4;margin:0.3rem 0.25rem;border-radius:0.2rem;display: flex;flex-direction: row;justify-content: space-between;text-align: center;align-items: center;color:#666666;font-size:14px;overflow: hidden;}
#page-con .tab-t .div{min-height:40px;display: flex;align-items: center;justify-content: center;padding:5px 3px;}
#page-con .tab-t .tab-t-2 span{border-right:1px solid #C9C9C9;}
.tab-t .active{background:#0991A5;color:#fff;}
.tab-t .active span{color:#fff;}
#page-con .tab-t .active span{border-right:none;}
.active.tab-t-1{border-right:1px solid #C1E3E8;}
.active.tab-t-2{border-right:1px solid #C1E3E8;}

#page-con .title{margin:0.3rem 0.25rem;border-bottom:1px solid #CACACA;font-size:14px;padding-bottom:0.1rem;}

#page-con .Amount{overflow:hidden;margin:0 0.15rem;height:2.3rem;padding:0 0.2rem;border:1px solid #DCDCDC;background:#fff;border-radius:0.15rem;display: flex;flex-direction: column;}
#page-con .Amount div{height:33.3333%;font-size:14px;display: flex;flex-direction:row;justify-content:space-between;border-bottom:1px solid #B8B8B8;align-items: center;color:#676767;}
#page-con .Amount .A-3{border-bottom:none;}
.input-group-addon{color:#000;background-color:#D5D5D5;}
.group1{background-color:#D5D5D5;}
.form-group p{margin-top:0.1rem;font-size:14px;color:#000;}
.input-group{width:100%;}

.sect3{margin-bottom:0.3rem;text-align: center;margin-top:50px;}
.sect3>div{ margin-right: 0.15rem; height: 40px; line-height: 40px; color:#999;display: inline-block;}
.sect3 .btnn{ width: 80px; background: #fff; border: 0.01rem solid #dcdcdc; border-radius:5px;  }
.sect3 .btnn2{ width: 40px; background:#e5e5e5; border: 0.01rem solid #b5b5b5;  }
.sect3 .btnn3{margin-right: 0;background:#0992a5;border-radius:5px; width: 66px;border: 0.01rem solid #dcdcdc;  }

/*.sect3 .btnn a{color:#fff;}*/
.sect3 .btnn3 a{color:#fff;}


.form-group{margin-bottom:0.1rem;}

#page-con .Amo-from{margin:0 0.35rem;margin-top:0.3rem;}
#page-con .Amo-from h4{font-size:14px;}
.alert{margin-top:15px;margin-bottom:15px;}

@media (max-width:360px) {
    #page-con .tab-t .div{height:72px;}
}

@media (min-width:700px) {
    #page-con .tab-t .div{width:33.3333%;}
    #page-con .tab-t{font-size:16px;}
    #page-con .title{font-size:16px;}
    #page-con .Amount div{font-size:16px;}
    #page-con .Amo-from h4{font-size:16px;}
    .form-group p{font-size:16px;}
    .form-group{width:100%;}
}

