#wrapper{ background: #eee; }
header{ z-index: 99; display: block; position: fixed; top: 0; width: 100%; background: #0991a5; color: #fff; font-size: 0.2rem;}
header p{ text-align: center; height:0.6rem; line-height:0.6rem;  }
header span.glyphicon{ position: absolute; top:0.22rem; left: 0.11rem;  }
/*日历*/
.data{ }
.data span{ background:#d5d5d5;}
.data .input-group-addon{ padding:0.06rem 0.06rem;  }
.data span a{ color: #646464; font-size: 0.18rem; }
.datetimepicker{}

.data form{ display: flex; flex-direction: row; justify-content: space-around;flex-wrap: wrap;}
.data form dl{ width: 40%; }
.data form dl:nth-child(3){width:90%;}
.data form dl:nth-child(4){width:90%;}
.data form dl:last-child{ width: 25%; }
.data form dl dt{ height: 0.4rem; line-height: 0.4rem; font-weight: normal; }
.data form dl dd{ height: 0.34rem; line-height: 0.34rem;  }
.data form dl dd input[type=text]{ text-align: center; font-size: 0.12rem; background: #fff;}
.data form dl dd input[type=submit]{  height:0.32rem; line-height: 0.32rem; width: 100%; background: #0f8da4; color: #fff;border-radius:5px;}
.data .form-control { padding:0.06rem 0.03rem; }

/*data-ban*/
.data-ban{padding: 0 0.1rem;font-size:14px;}
.data-ban-box{padding:0.45rem 0.25rem 0.25rem;background:url(../images/wallet/data-ban.png);background-size:100% 100%;}
.data-ban-box p span{margin-right:10px;}


.sear{ position: relative; padding: 0 0.18rem; margin-top: 0.3rem;}
.sear form{}
.sear form input{ text-indent: 0.16rem; text-align: center; color: #9f9f9f; background: #fff; height: 0.4rem; line-height: 0.4rem; width: 100%; box-sizing:  border-box; border: 0.01rem solid #dcdcdc; border-radius: 0.06rem;}
.sear span{ font-size: 0.16rem;  position: absolute; color: #9f9f9f; left: 50%; margin-left: -0.4rem; top: 0.13rem;}

section{ padding-top:0.1rem; }
section .list,section .list2,section .list3{ margin-left: 0.11rem; }

.sect2{ padding: 0 0.1rem; margin-top: 0.3rem; }
.sect2 .tab{ margin-bottom: 0.1rem; text-align: center; background: #fff;border: 0.01rem solid #dcdcdc;  border-radius:0.08rem; overflow:hidden;display: flex; flex-direction: row; }
.sect2 .tab>div{ }
.sect2 .tab .num{ color: #fff; width: 10%; background: #0992a5;}
.sect2 .tab .lis{ width: 90%;}
.sect2 .tab .lis span{height: 0.3rem; line-height: 0.3rem; display: block; margin-top: 0.1rem;}
.sect2 .tab .lis ul li:nth-child(2n-1) div{ font-weight: bold;  }
.sect2 .tab .lis ul li:nth-child(2n) div{  }
.sect2 .tab .lis ul li{  display: flex;justify-content:space-around;flex-direction: row; }
.sect2 .tab .lis ul li:nth-child(2n+1){margin-top:8px;}
.sect2 .tab .lis ul li>div{overflow: hidden; text-align: start; width: 42%;}
.sect2 .tab .lis ul li>div:nth-child(1){width:48%;padding-left:0.25rem;}

.tab .num b{display: inline-block;vertical-align: middle;height:100%;}

.sect3{margin-bottom:0.3rem;text-align: center;margin-top:50px;}
.sect3>div{ margin-right: 0.15rem; height: 40px; line-height: 40px; color:#999;display: inline-block;}
.sect3 .btnn{ width: 80px; background: #fff; border: 0.01rem solid #dcdcdc; border-radius:5px;}
.sect3 .btnn2{ width: 40px; background:#e5e5e5; border: 0.01rem solid #b5b5b5;  }
.sect3 .btnn3{margin-right: 0; color: #fff; background:#0992a5;border-radius:5px; width: 66px;border: 0.01rem solid #dcdcdc;  }
.sect3 .btnn3 a{color:#fff;}

@media (max-width:360px ) {


}
@media (min-width:700px) {
    .data-ban{font-size:16px;}
    .sect2 .tab .lis span{padding-right:180px;font-size:16px;}
    .sect2 .tab .lis ul li:nth-child(2n-1) div{font-size:16px;}
}

